<html>
    <head>
    </head>
    <body>
        <img src="{{ asset('images/logo_symfony.png') }}" alt="Symfony geral!" />
        <img src="{{ asset('bundles/app/images/logo_symfony.png') }}" alt="Symfony bundle!" />
    </body>
</html>
